/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.navbar__logo img {
  height: 150%;
  margin-top: -10px;
}

/* Border around images */
.border {
    border: 2px solid #bbb;
}